:root {
  --mdb-body-color: #222;
}

body {
  color: var(--mdb-body-color);
}

.col-form-label {
  color: var(--mdb-body-color);
  ;
}

.form-control.is-invalid, 
.was-validated .form-control:invalid {
  transition: none;
  margin-bottom: 0.5rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc4c64'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23dc4c64' stroke='none'/%3E%3C/svg%3E");
}

.invalid-feedback {
  position: static;
  margin-top: 0;
}